.warn{
	color: red;
	padding :10px;
}
.a-text-bold{
	font-weight: 700!important;
}

.check-button label {
    font-size: 14px;
    color: darkslategray;
    margin: 0;
    float: left;
}

.star-icon {
	width: 25px;
	height: 25px;
	background-size: 25px 25px; 
	background-image: url(../Images/star.png);
	display: inline-block;
	margin-left:-2px;
}

.star-icon.mono {
	background-image: url(../Images/star_mono.png);
}

.assess-star {
	
}

.separator {
	height: 1px;
    border: none;
    border-top: 1px #808080 solid;
    margin: 0px 10px;
}

#fly-anim-area .butterfly {
	background-image: url('../Images/butterfly.png');
}

.top-container .top-title{
	color : white;
}

.top-container .top-title h1{
	text-shadow: 2px 2px 1px #202020;
}

.footer {
	padding-bottom:60px;
}

.footer ul {
	list-style-type: none; 
}

.footer li{
	float: left;
	height: 40px;
	padding: 0px 10px;
}


.footer button {
	display: block;
	height : 40px;
	line-height: 40px;
	width: 100px;
	background-color: #202020; 
	color: white;
	text-decoration: none;
	border-radius: 4px;
}

.footer button:hover {
	background-color: #000020;
}

body.back-img{
	#background-image: url("../Images/gos_back1.gif");
	background-image: url("../Images/wood1.jpg");

	#background-size: 600px 600px;
	background-size: 600px 800px;
	background-attachment: fixed;
}

.app-container{
	margin: 3px auto 0px auto;
	width:800px;
	background-color: rgba(240,240,240,0.8);

	 -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, .7);
    
    box-shadow: 0 1px 20px rgba(0, 0, 0, .7);
}

.top-container {
	opacity: 1.0;
	background-color: #308050;

	-webkit-box-shadow: inset 0 1px 8px rgba(0, 0, 0, .7);
    -moz-box-shadow: inset 0 1px 8px rgba(0, 0, 0, .7);
    box-shadow: inset 0 1px 8px rgba(0, 0, 0, .7);

}

.top-container a{
	height: 50px;
	line-height: 40px;
	#padding: 0 10px;
	#margin:0px;
	color: #040410;
	text-decoration: none;
	#top :0px;
}

.top-title {
	#padding-left: 200px;
	#padding-top: 10px;
	padding: 0.1px 200px ;
	height: 80px;
}

.top-bar {
	width: 550px;
	#text-align: center;
	height: 40px;
	margin:0 20px 0;
	background: linear-gradient(to bottom, rgba(84,84,84,0.9) 0%,rgba(53,53,53,0.9) 50%,rgba(41,41,41,0.9) 50%,rgba(15,15,15,0.9) 100%);
}

.top-bar ul{
	list-style-type: none; 
	margin: 4px;
}

.top-bar ul li {
	float: left;
	height:40px;
	font-weight: 600!important;
}

.top-bar ul li a{
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	margin:0px;
	color: white;
	text-decoration: none;
	top :0px;
	display: block;
	text-shadow: 2px 2px 10px #999999;
}

.top-bar ul li a:hover{
	background-color: black;
}

.top-slider-container {
	padding: 5px 10px;
	width:600px;
}
.top-slider-container .slide-img img{
	width:600px;
	height: 300px;

}

.top-page {
	padding: 0px 15px 10px;
}

.top-page .month-news {
	
}
.top-page .month-news .title{
	padding-left: 30px; 
}

.top-page .release-news h3{
	padding-left: 30px;
}

.top-page .recently-activity h3 {
	padding-left: 30px;
}

.user-profile {
	padding : 5px 20px;
}

.user-profile ul{
	display: block;
	border-radius: 4px;
	border: 1px #ddd solid;
	background-color: #fff; 
	width:500px;
	margin-left: 10px;
	padding: 0;

 	box-shadow: 0 1px 20px rgba(0, 0, 0, .7);
}


.user-profile ul li {
	height:50px;
	padding:10px 20px;
	list-style: none;
	border-bottom: 1px solid #e7e7e7;
} 
.user-profile .element-grid {
	#padding-right:70px;
	width:80%;
	float :left;
}

.user-profile .edit-button-ace{
	padding-top:10px;
}
.user-profile .edit-button-ace .edit-button {
	height: 30px;
}

.user-profile .user-data-box {
	padding:8px;
}

.all-comic-list {
	width: 500px;
	padding: 10px;
}

.all-comic-list .condition-select-space {
	padding: 10px;
}

.all-comic-list .condition-select-space .is-contain {
	padding: 0 0px 10;
}

.all-comic-list .initial-box {
	border: solid 1px #a0a0a0;
	#width: 500px;
	padding: 5px;
}

.all-comic-list .series-title {
	#width: 500px;
	border-right: solid 1px #e0e0e0;
	border-left: solid 1px #e0e0e0;
	border-bottom: solid 1px #e0e0e0;
}

.all-comic-list .series-title .series-select-box{
	float: left;
}

.all-comic-list .series-title .series-select-box input{
	width:25px;
	height: 25px;
}
.all-comic-list .series-title a{
	display: block;
	height : 30px;
	line-height: 30px;
	background-color: #f0f0f0; 
	color: black;
	text-decoration: none;
}

.all-comic-list .contain a{
	background-color: #c0c0e0; 
}

.all-comic-list .series-title a:hover{
	background-color: #f9f9f9;
}

.all-comic-list .contain a:hover{
	background-color: #e9e9f9;
}


.add-series-title-box {
	padding : 10px 15px;
}

.volume-list{
	padding: 5px 20px;
}

.volume-list .title .name {
	float:left;
}

.volume-list .end-title {
	padding: 6px 10px;
	margin : 20px 20px 0px;
	background-image: url("../Images/icon_back_blue.png");
	background-size: 60px 30px;
	color : #ffffff;
	font-weight: bold;
	position: relative;
	top: 25px;
}

.volume-list .series-detail {
	clear: both;
}

.volume-list .series-detail .series-img{
	float: left;
}

.volume-list .series-detail .series-img img{
	height: 300px;
}

.volume-list .series-detail .series-profile{
	padding: 10px;
	left: 10px;
	position: relative;
}

.volume-list .series-detail .prof-element{
	padding: 10px;
}

.volume-list .series-detail .element-key{
	float: left;
	padding-right: 10px;
}

.volume-list .series-detail .element-key.tag{
	height: 100px;
}

.volume-list .volume-list-box {
	clear: both;
	padding: 10px 0px;
}

.volume-list .volume-list-box ul{
	list-style-type: none; 
	width: 500px;
	padding-left: 5px ;
}

.volume-list .volume-list-box ul li {
	border: solid 1px #202020;
	border-radius: 5px;
	padding: 0px 10px 5px;
	background-color: #d4b470;
	
}

.volume-list .volume-list-box ul li:hover {
	background-color: #f4d0a0;
}

.series-my-list {
	padding: 5px 10px;
	width: 500px;
}
.series-my-list .initial-box {
	border: solid 1px #a0a0a0;
	#width: 500px;
	padding: 5px;
}

.series-my-list .series-title {
	#width: 500px;
	border-right: solid 1px #e0e0e0;
	border-left: solid 1px #e0e0e0;
	border-bottom: solid 1px #e0e0e0;
}

.series-my-list .series-title .series-select-box{
	float: left;
}

.series-my-list .series-title .series-select-box input{
	width:25px;
	height: 25px;
}
.series-my-list .series-title a{
	display: block;
	height : 30px;
	line-height: 30px;
	background-color: #f0f0f0; 
	color: black;
	text-decoration: none;
}

.series-my-list .series-title a:hover{
	background-color: #f9f9f9;
}

.dialog .assessment {
	padding: 5px 2px;
}

.edit-comic-volume {
	padding: 5px 20px;
}

.edit-comic-volume .series-box h3{
	display: inline-block;
}

.edit-comic-volume .series-box .series-data {
	#padding:5px 5px;
}

.edit-comic-volume .series-box .series-data .element-key{
	padding-left:10px;
}

.edit-comic-volume .series-box .series-data .element-value{
	padding-left: 0px;
}

.edit-comic-volume .series-box .series-data td.category-left{
	padding-left:20px;
}

.edit-comic-volume .volume-head h3{
	display: inline-block;
}

.edit-comic-volume table.volume-data tr td input{
	#top : -4px;
	position: relative;
}	

.logout {
	padding: 10px;
}

.login {
	padding: 15px;
}

.test-container .tab2{
	background: -moz-linear-gradient(top,#BFE5F2, #63B3D2 50%,#0081B4 50%,#00679A);
    background: -webkit-gradient(linear, left top, left bottom, from(#BFE5F2), color-stop(0.5,#63B3D2), color-stop(0.5,#0081B4), to(#00679A));
    border: 1px solid #DDD;
    color: #FFF;
    width: 100px;
    padding: 10px 0;

}

.test-container .tab{
	background: -moz-linear-gradient(top,#20688A, #3F96B8 50%,#00679A 50%,#0081B4);
	background: -webkit-gradient(linear, left top, left bottom, from(#20688A), color-stop(0.5,#3F96B8), color-stop(0.5,#00679A), to(#0081B4));
    border: 1px solid #DDD;
	color: #FFF;
    width: 200px;
    padding: 5px 0;
    text-align: center;
    border-radius: 3px;
    position : relative;
    left: -400px;

     -webkit-box-shadow: inset 0 1px 8px rgba(0, 0, 0, .7);
    -moz-box-shadow: inset 0 1px 8px rgba(0, 0, 0, .7);
    box-shadow: inset 0 1px 8px rgba(0, 0, 0, .7);

}

.test-container .tab a{
	color: #FFF;
	width: 100%;
	text-decoration: none;
	display: block;
}